.wrapper {
    margin: 0 auto;
    max-width: 70%;
    font-family: 'Roboto', sans-serif;
}


.bayan__line {
    display: block;
    width: 99%;
    margin: 0 auto;
    height: 0.1rem;
    background-color: grey;
    opacity: 0.3;
    cursor: pointer;
}

.bayan__meme {
    cursor: pointer;
    width: 25%;
}

.bayan__meme-img {
    padding-bottom: 1rem;
    box-sizing:border-box;
    overflow: hidden;
}

.bayan__input{
    display: none;
}

.bayan__text {
    display: flex;
    justify-content: space-between;
    color:blue;
    cursor: pointer;
}

.bayan__icons {
    display: flex;
    width: 0;
}

.plus-icon {
    width: 0;
}

.cross-icon {
    width: 0;
}

svg {
    width: 2rem;
    height: 2rem;
    align-self: center;
}

.bayan__meme {
    display: flex;
    border-top: none;
    height: 0;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 0;
}

.bayan__meme-img {
    display: block;
}



/*Hover behavior*/

.bayan:hover .bayan__icons {
    width: auto;
    animation: opacity-animation 2s;
}

.bayan:hover .bayan__text {
    color:black
}

.bayan:hover .plus-icon {
    width: 2rem;
    height: 2rem;
}

.bayan__text:hover {
    max-height: 100%;
    transition: max-height 2s;
}

.bayan__input:hover ~ .bayan__meme {
    animation: meme-animation 0.5s;
    height: 100%;
}

.bayan__input:checked:hover ~ .bayan__meme {
    animation: meme-animation 0s;
}


.bayan__input:hover ~ .bayan__text .plus-icon {
    width: 0;
    height: 0;
}

.bayan__input:hover ~ .bayan__text .cross-icon {
    width: 2rem;
    height: 2rem;
    animation: opacity-animation 1s;
}

.bayan__input:checked:hover  ~ .bayan__text .cross-icon {
    animation: opacity-animation 0s;
}

.bayan__input:checked ~ .bayan__text .cross-icon {
    width: 2rem;
    height: 2rem;
}

.bayan__input:checked ~ .bayan__text .plus-icon {
    width: 0;
    height: 0;
}

.bayan__input:checked ~ .bayan__text {
    color: black;
}

.bayan__input:checked ~ .bayan__meme {
    height: 100%;
    animation: meme-animation 0s;
}

.bayan__input:active ~ .bayan__text {
    color: blue;
    opacity: 0.7;
}

.bayan__input:checked:active ~ .bayan__text {
    color: black;
    opacity: 1;
}

.bayan__input:active ~ .bayan__meme {
    opacity: 0.5;
}

.bayan__input:checked:active ~ .bayan__meme {
    opacity: 1;
}
/*Animations*/

@keyframes opacity-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes meme-animation {
    0% {scale: 0.3;}
    100%{scale: 1;}
}
